<div>
  <div><h1>【カレンダー確認】</h1>
    <h2>①カレンダー確認</h2>
   <a href="https://gyazo.com/2d0278e6b3a8882d2d88df453efbdb01"><img src="https://i.gyazo.com/2d0278e6b3a8882d2d88df453efbdb01.gif" alt="Image from Gyazo" width="1000"/></a> <br><br><br>
    <h2>②カレンダーで仕事内容の詳細確認</h2>
    <a href="https://gyazo.com/f79faaafde3368d41ad7bf83c7a61210"><img src="https://i.gyazo.com/f79faaafde3368d41ad7bf83c7a61210.gif" alt="Image from Gyazo" width="1000"/></a>
    <br><br><br>
  </div>
</div><br>