<div>
  <div><h1>【内容登録】</h1>
    <h2>①内容登録画面に遷移</h2>
    <a href="https://gyazo.com/c30081fe08e7e2669988c2fe5facfdc1"><img src="https://i.gyazo.com/c30081fe08e7e2669988c2fe5facfdc1.gif" alt="Image from Gyazo" width="1000"/></a><br><br>
    <br><br><br>
    <h2>②内容登録（今日と今月の仕事グラフだけを表示）</h2>
    <a href="https://gyazo.com/5b6fd705b9162d05a9a69334580d7118"><img src="https://i.gyazo.com/5b6fd705b9162d05a9a69334580d7118.gif" alt="Image from Gyazo" width="1000"/></a>
    <br><br><br>
    <h2>③内容登録（削減時間にもグラフを表示）</h2>
    <a href="https://gyazo.com/bae60c5edfa9c8171816f223acbf2abf"><img src="https://i.gyazo.com/bae60c5edfa9c8171816f223acbf2abf.gif" alt="Image from Gyazo" width="1000"/></a>
    <div>※全ての項目に対して選択もしくは入力が必要です。<br>
         ※グラフは、当日と当月のデータそして当日と当月の削減可能データの4つがあります。
  　     内容登録時に、選択事項の「実施できる人」にて「他の人も可能」を選択すると、削減可能データに表示されます。
    </div>
  </div>
</div><br>