<div>
  <div><h1>【検索機能】</h1>
    <h2>①検詳細索画面に遷移</h2>
   <a href="https://gyazo.com/b71189e8a452b705f90a325fbc213376"><img src="https://i.gyazo.com/b71189e8a452b705f90a325fbc213376.gif" alt="Image from Gyazo" width="1000"/></a>
    <br><br><br>
    <h2>②検索実施（詳細検索について）</h2>
 <a href="https://gyazo.com/35079cc73effef16be52d3e6e7c1d003"><img src="https://i.gyazo.com/35079cc73effef16be52d3e6e7c1d003.gif" alt="Image from Gyazo" width="1000"/></a>
    <br><br><br>
    <div>
      ※キーワード検索では仕事内容の詳細で入力したキーワードを入力し検索できます。<br>
      ※詳細検索は、詳細検索ボタンを押すと詳細検索ページに遷移し、内容を選択や入力して検索ができます。
    </div>
  </div>
</div><br>