<div>
  <div><h1>【その他データ内容確認】</h1>
    <h2>①その他データ内容確認への遷移</h2>
    <a href="https://gyazo.com/11d036c6cea5253226c3efd54f23868f"><video alt="Video from Gyazo" width="1000" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/11d036c6cea5253226c3efd54f23868f.mp4" type="video/mp4" /></video></a>
    <br><br>
    <h2> ②その他の内容確認</h2>
    <a href="https://gyazo.com/3099a51957e0d2ac00d7d9174b9ff361"><img src="https://i.gyazo.com/3099a51957e0d2ac00d7d9174b9ff361.gif" alt="Image from Gyazo" width="1000"/></a>
  </div>
</div>