/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f1f8fe;
  margin-bottom: 10px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 30px;
  width: 200px;
  /* border: 2px solid #87cefa;
  border-radius: 3px; */
  padding: 0.1em 0.1em;
}
.title:hover{
  opacity: 0.7;
}

.nav_in__btn{
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 20px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-bottom: 15px;
}

.nav_up__btn{
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 20px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-bottom: 15px;
  margin-left: 20px;
}

.nav_in__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav_up__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.login-flash-message {
  color: red;
}

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

/* メイン */

.greeting{
  text-align: center;
  margin-top: 10px;
}

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}

.search_title {
  display: flex;
  justify-content: space-around;
}

.keyword_search_title {
  margin-left: 50px;
}

.search_content {
  display: flex;
  justify-content: space-around;
}

.search-form {
  width: 25vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.form-search {
  margin-left: 20px;
}

.detail-search{
  background: #87CEFA;
  color: white;
  border: 2px solid #3ccace;
  border-radius: 3px;
  padding-top: 10px;
  margin-right: 45px;
}

.detail-search:hover{
  color:rgb(177, 153, 153);
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.graph {
  display: flex;
  justify-content: space-between;
}

.graph_title {
  display: flex;
  justify-content: space-between;
}

.day_graph_title{
  margin-left: 20px;
}

.week_graph_title{
  margin-right: 30px;
}

.last_month_graph_title{
  margin-right: 25px;
}

.month_graph_title{
  margin-right: 25px;
}

.total_time_title {
  display: flex;
  justify-content: space-between;
}

.day_total_time_title {
  margin-left: 25px;
}

.week_total_time_title {
  margin-left: 60px;
  margin-right: 40px;
}

.last_month_total_time_title {
  margin-left: 30px;
  margin-right: 60px;
}

.month_total_time_title {
  margin-right: 15px;
}


.total_time {
  display: block;
}

.display_calendar {
	margin: 1em 0;
	padding: 0;
} 
.display_calendar label {
	padding: 15px;
	font-weight: bold;
	color: #FFF;
	background-color: #eb2aeb;
	cursor :pointer;
}
/* 
.display_calendar input {
	display: none;
}

.display_calendar .hidden_box {
	padding: 10px 0;
	height: auto;
	visibility: visible;
}
.display_calendar input:checked ~ .hidden_box {
	visibility: hidden;
} */

.hidden_box {
  margin: 2em 0;/*前後の余白*/
  padding: 0;
}

.hidden_box label {
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

.hidden_box label:hover {
  background: #efefef;
}

.hidden_box input {
  display: none;
}

.hidden_box .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box input:checked ~ .hidden_show {
  display: none;
  /* height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s; */
}

.calendar_display {
  text-decoration: underline;
}

.calendar_display:hover{
  color: #fff;
  background: #87faeb;
}

.time_content_title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 50px;
}

.nav_register__btn{
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 20px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-bottom: 15px;
  margin-left: 20px;
}

.nav_date_register__btn{
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 15px;
  color: black;
  /* text-decoration: none;
  user-select: none; */
  /* border: 1px #87CEFA solid; */
  border-radius: 3px;
  /* transition: 0.4s ease;*/
  margin-bottom: 5px;
  margin-left: 20px;
}

.nav_date_register__btn {
  color: #fff;
  background: #87CEFA;
}

.calendar-heading {
  font-size: 20px;
  margin-bottom: 5px;
}

.calendar-title {
  margin: 0 10px;
}

.calender_select:hover {
  color:rgb(177, 153, 153);
}

/* 時間内容登録 */

.notifications {
  font-size: 20px;
  color: white;
  text-align: center;  
}

.notice {
  background-color: rgb(120, 93, 238);
}

.a {
  display: flex;
}

.time_content_detail_title_1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.time_and_content_detail {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.date_title_style {
  margin-right: 45px;
  margin-left: 10px;
}

.time_title_style {
  margin-right: 45px;
  margin-left: 20px;
}

.content_title_style {
  margin-right: 25px;
  margin-left: 20px;
}

.time_content_detail_title_2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.time_and_content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.date_style {
  width: 170px;
  height: 50px;
  font-size: 17px;
}

.time_style {
  width: 155px;
  height: 50px;
  font-size: 20px;
}

.content_style {
  width: 155px;
  height: 50px;
  font-size: 20px;
}

.detail_style {
  width: 500px;
  height: 100px; 
  font-size: 20px;
}

.submit_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.submit_style {
  width: 130px;
  height: 50px;
}

/* 詳細ページ */

.successful {
  font-size: 20px;
  color: white;
  text-align: center;  
}

.success {
  background-color: rgb(120, 93, 238);
}

.time_content__wrapper{
  min-height: calc(100vh - 161px);
}

.time_content__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.time_content__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.time_content__title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
.time_content__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
  margin-bottom: 15px;
}
 
.time_content__message {
  margin-bottom: 15px;
  font-size: 25px;
}

.time_content_edit__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 10px 15px;
}

.time_content_edit__btn:hover{
  color:#fff;
  background:#87CEFA;
}

.time_content_delete__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 10px 15px;
}

.time_content_delete__btn:hover{
  color: #fff;
  background: red;
}

.edit_back_btn_form {
  display: flex;
  justify-content: center;
}

.edit_back_btn_detail {
  font-size: 15px;
  background: #df2ec1;
  color: white;
  border: 2px solid #de4bf1;
  border-radius: 3px;
  padding-top: 10px;
}

/* 詳細検索ページ */
.detail-search_form {
  text-align: center;
}

.back_btn {
  background: #ccdfeb;
  color: rgb(75, 71, 71);
  border: 2px solid #d3edee;
  border-radius: 3px;
}

/* 検索結果ページ */
.search {
  text-align: center;
}
.back_btn_top {
  background: #2fe992;
  color: white;
  border: 2px solid #46f580;
  border-radius: 3px;
}

.back_btn_detail {
  background: #df2ec1;
  color: white;
  border: 2px solid #de4bf1;
  border-radius: 3px;
  margin-left: 50px;
}

.detail_submit {
  font-size: 20px;
  background: #87CEFA;
  color: white;
  border: 2px solid #3ccace;
  border-radius: 3px;
}

.detail_result_display {
  color: #3ccace;
  border: none;
  width: 50px;
}

.detail_result_display:hover {
  color: #ce3c96;
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}


